layout {
	pane {
		pane {}
		pane split_direction="vertical" {
			pane name="CONTRACTS:WATCH" command="bash"  {
				args "-c" "pnpm contracts:dev; cd contracts; ${SHELL-bash}"
			}
		}
		pane split_direction="vertical" {
			pane name="COMMON" command="bash"  {
				args "-c" "pnpm common:dev; cd common-lib; ${SHELL-bash}"
			}
			pane name="WEB" command="bash"  {
				args "-c" "pnpm web:dev; cd web; ${SHELL-bash}"
			}
		}
		pane name="helper-services"  split_direction="vertical" {
			pane name="EXTERNAL"  command="bash"  {
				args "-c" "pnpm externals"
			}
			pane name="SUBGRAPH DEPLOY"  command="bash"  {
				args "-c" "pnpm subgraph:deploy:local:watch; cd subgraph; ${SHELL-bash}"
			}
			pane name="SUBGRAPH SCHEMA"  command="bash"  {
				args "-c" "pnpm subgraph:schema:watch; cd subgraph; ${SHELL-bash}"
			}
		}
	}

}
