layout {
	pane {
		pane {}
		pane split_direction="vertical" {
			// pane name="COMPILE" command="bash"  {
			// 	args "-c" "pnpm contracts:compile:watch; cd contracts; ${SHELL-bash}"
			// }
			// pane name="DEPLOY" command="bash"  {
			// 	args "-c" "pnpm contracts:deploy:watch ${MODE}; cd contracts; ${SHELL-bash}"
			// }
		}
		pane split_direction="vertical" {
			pane name="COMMON" command="bash"  {
				args "-c" "pnpm run --filter ./common-lib dev; cd common-lib; ${SHELL-bash}"
			}
			pane name="WEB" command="bash"  {
				args "-c" "pnpm run --filter ./web dev; cd web; ${SHELL-bash}"
			}
		}
		pane name="helper-services"  split_direction="vertical" {
			pane name="AGENT_SERVICE"  command="bash"  {
				args "-c" "pnpm run --filter ./agent-service dev; cd web; ${SHELL-bash}"
			}
			// pane name="SYNC"  command="bash"  {
			// 	args "-c" "pnpm sync:dev; cd helper-services/secp256k1-db; ${SHELL-bash}"
			// }
			pane name="ACCOUNT_SERVICE"  command="bash"  {
				args "-c" "pnpm run --filter ./account-service dev; cd account-service; ${SHELL-bash}"
			}
		}
	}

}
