# -----------------
# .gitignore
# -----------------
cache/
artifacts/

node_modules/
.env

generated/

deployments/hardhat
deployments/localhost

# -----------------
deployments/
src/import
*.json
_lib/
.gitignore
*.md
.prettierignore